*{
  margin:0px;
  padding:0px;
}
a{
  text-decoration: none;
}
i{
opacity: 0;
  font-size: 36px;
color: white;
position: absolute;
left: right;
right: 30px;
top: 22px;

}

.container{
  width:90%;
  margin:0 auto;
}

header{
position: relative;
height: 100vh;
overflow: hidden;
}

img{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0px;
  left: 0px;
animation-name: v;
animation-duration: 20s;
animation-iteration-count:infinite;

}

@keyframes v {
  0%{transform: scale(1);}
  50%{transform: scale(1.1);}
  100%{transform: scale(1);}
}


.top-header{
  height:80px;
  border-bottom:2px solid black;
  position: relative;
  z-index: 99;
}

.top-header .logo{
  width:20%;
  float:left;
  height: 80px;
}


.top-header .logo h1{
  color: white;
  margin-top: 20px;
}




.top-header nav{
  width:80%;
  overflow: hidden;
  height: 80px;
}

.top-header nav ul{
  list-style: none;
  margin: 0px;
  padding: 0px;

  float: right;
}

.top-header nav ul li{
  float:left;
        margin: 28px 12px;
padding-bottom: 4px;
}

.top-header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;


}


ul li:hover{
  border-bottom: 2px solid #EA1945!important;

transition: .1s;
}

.banner{
  width: 651px;
  margin: auto;
  text-align: center;

  position: absolute;
  z-index: 98;
  top: 295px;
  left: 0;
  bottom: 0;
  right: 0;
}


.banner h1{
  color: white;
font-size: 40px;
}

.banner p{
  color: white;
margin: 22px 0px;
}


.banner input{
  border: none;
outline: none;
    padding: 13px 374px 13px 10px;
border-radius: 2px;
}

.banner button{
      margin-left: -4px;
  border: none;
background: EA1945l;
background: #EA1945;
padding: 13px 28px;
border-radius: 2px;
color: white;
outline: none;
}

.overlay{
  position: absolute;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.5);
top: 0px;
left: 0px;

}

.fixed-header{
  background: rgba(0,0,0,0.7);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  transition: .1s;
  z-index: 99;
}


section{
  height: 500px;
  background: pink;
}



/*responsive*/





@media  screen and (max-width:990px) {
  i{opacity: 1!important;}

  .top-header{
    background: rgba(0,0,0,0.7);
  }
  nav{
    overflow:visible !important;
  }
  ul li{
     float: none !important;
     display: block;
     border-bottom:2px solid black;
     margin: 0px 0px!important;
     padding: 15px 0px;
         padding-bottom: 15px!important;
         transition:
  }

  ul li a{
    color:black!important;
  }

  ul li:hover{
  border-bottom:2px solid black;

  transition: 0s;
  }


  ul{
    display: none;
    width: 100%;
    position: absolute;
    top: 80px;
    left:0px;
    background-color: #ecf0f1;
    text-align: center;
  }


  .toggle{
  display: block;
  }
}


@media  screen and (min-width:991px) {
ul{
  display: block!important;

}
li{
  border-bottom: none!important;
}
}
